.filter-buttons {
  display: flex;

  gap: 12px;

  margin-top: 20px;
  margin-bottom: 20px;
}

.filter-buttons button {
  padding: 12px 18px;

  border: none;
  border-radius: 12px;

  background: var(--input-bg);

  color: var(--text-color);

  font-size: 15px;
  font-weight: 600;

  cursor: pointer;

  transition: 0.3s ease;
}

.filter-buttons button:hover {
  transform: translateY(-2px);

  background: var(--button-hover);

  color: var(--button-text);
}

.active-filter {
  background: var(--button-bg) !important;

  color: var(--button-text) !important;

  box-shadow:
    0 4px 12px rgba(79, 70, 229, 0.3);
}
